@import "tailwindcss";

@theme {
  --color-mainBlue: #003f62;
  --color-mainYellow: #eda415;
  --color-lightGray: #f4f4f4;
  --color-textWhite: #fff;
  --color-textDark: #292d32;
  --color-lightBlue: #b3d4e5;
  --color-grayColor: #b6b6b6;
}

/* Loader */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #003f62;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
